body {
	color: black;
	background: yellow;
	margin: 0;
}

hr {
	color: black;
}

.marg {
	margin-bottom: 0px;
	margin-top: 0px;
}

.fuente {
	font-family: "Brush Script MT", "Cursive"
}

.center {
	text-align: center;
}

#topbar {
	background: red;
	padding-left: 5px;
	text-align: left;
	position: relative;
}

#logo {
	color: white;
	display: inline-block;
}

#menu {
	color: white;
	display: inline-block;
}

#body {
	color: white;
	border-radius: 15px;
	background: red;
	padding-left: 10px;
	margin-left: 20px;
	margin-right: 20px;
}
